.about {
  padding-top: 80px;
  padding-bottom: 69px;
}

.about__title {
  margin-bottom: 17px;
}

.about__text {
  max-width: 1080px;
}

@media (max-width: 1280px) {
  .about {
    padding-bottom: 69px;
  }
}

@media (max-width: 576px) {
  .about {
    padding-top: 50px;
    padding-bottom: 41px;
  }

  .about__title {
    margin-bottom: 12px;
  }

  .about__text {
    font-size: 14px;
    line-height: 28px;
  }
}
