.gallery {
  padding-top: 80px;
  padding-bottom: 80px;
  color: var(--white);
  background-color: var(--gray);
  background-image: url("../img/gallery-bg.jpg");
}

.gallery__wrap {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.gallery__filter {
  display: flex;
  flex-direction: column;
  width: calc(400 / 1600 * 100%);
}

.gallery__title {
  margin-bottom: 16px;
}

.gallery__text {
  margin-bottom: 10px;
}

.gallery__select {
  margin-bottom: 176px;
}

.gallery__label {
  line-height: 1;
  cursor: pointer;
  transition: color var(--short);

  inline-size: max-content;
}

.gallery__visual-check {
  position: relative;
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 8px;
  border: 1px solid var(--white);
  vertical-align: middle;
  transition: border-color var(--short);
}

.gallery__visual-check::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4px;
  height: 4px;
  border: 2px solid var(--pink);
  border-radius: 100%;
  opacity: 0;
  transition-duration: var(--short);
  transition-property: opacity, transform;
  transform: translate(-50%, -60%) rotate(-45deg) scale(2);
}

.gallery__checkbox-text {
  font-size: 16px;
  line-height: 32px;
  vertical-align: middle;
  transition: color var(--short);
}

.gallery__checkbox:checked ~ .gallery__visual-check::before {
  opacity: 1;
  transform: translate(-50%, -60%) rotate(-45deg) scale(1);
}

.gallery__checkbox:focus ~ .gallery__visual-check {
  border-color: var(--pink);
}

.gallery__checkbox:focus:not(:hover):not(:active) ~ .gallery__checkbox-text {
  color: var(--pink);
}

.gallery__checkbox:active ~ .gallery__visual-check {
  border-color: var(--pink);
}

.gallery__checkbox:active ~ .gallery__checkbox-text {
  color: var(--pink);
}

.gallery__swiper {
  overflow: hidden;
  width: calc(1150 / 1600 * 100%);
  padding-top: 18px;
}

.gallery__swiper-nav {
  position: relative;
  top: 0;
  left: 4px;
  display: inline-flex;
  align-items: center;
  min-width: 130px;
  max-height: 30px;
  margin-bottom: 30px;
}

.gallery__btn {
  position: relative;
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  outline: none;
  background-color: var(--gray);
  cursor: pointer;
}

.gallery__btn::before {
  content: "";
  position: absolute;
  top: calc(50% - 7px / 2);
  width: 7px;
  height: 7px;
  transform: rotate(45deg);
  transform-origin: center;
}

.gallery__btn:focus:not(:hover):not(:active) {
  border: 2px solid var(--black);
}

.gallery__btn:active {
  border: 2px solid var(--black);
  background-color: var(--purple);
}

.gallery__btn-prev {
  margin-right: 19px;
}

.gallery__btn-prev::before {
  left: calc(55% - 7px / 2);
  border-bottom: 1px solid var(--white);
  border-left: 1px solid var(--white);
}

.gallery__btn-next::before {
  left: calc(45% - 7px / 2);
  border-top: 1px solid var(--white);
  border-right: 1px solid var(--white);
}

.gallery__swipe {
  max-height: 350px;
  background-color: var(--gray);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.gallery__swipe::before {
  content: "";
  position: relative;
  z-index: 1;
  display: block;
  box-sizing: border-box;
  padding-top: calc(100% - 6px);
  border: 3px solid transparent;
  transition: background-color .3s ease, border-color .3s ease;
}

.gallery__swipe::after {
  content: "";
  position: absolute;
  z-index: 2;
  top: -5px;
  left: 1px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 25px;
  opacity: 0;
  background-color: rgba(0, 0, 0, .5);
  background-image: url("../img/gallery-loup.svg");
  background-repeat: no-repeat;
  background-position: 50% 47%;
  background-clip: content-box;
  background-size: 80px;
  transition: opacity .5s ease;
}

.gallery__swipe:focus {
  outline: none;
}

.gallery__swipe:focus::before {
  border-color: var(--purple);
}

.gallery__swipe:active:before {
  background-color: rgba(194, 131, 243, .40);
}

.gallery__swiper-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  object-fit: cover;
}

@media (max-width: 1280px) {
  .gallery {
    padding-bottom: 81px;
  }

  .gallery__filter {
    width: calc(280 / 924 * 100%);
  }

  .gallery__select {
    margin-bottom: 106px;
  }

  .gallery__swiper {
    width: calc(594 / 924 * 100%);
  }

  .gallery__swiper-nav {
    left: 1px;
  }

  .gallery__swipe::before {
    padding-top: calc(112% - 6px);
  }
}

@media (max-width: 992px) {
  .gallery {
    padding-bottom: 80px;
  }

  .gallery__wrap {
    flex-direction: column;
  }

  .gallery__filter {
    margin-bottom: 15px;
  }

  .gallery__select {
    margin-bottom: 40px;
  }

  .gallery__swiper {
    width: unset;
  }

  .gallery__swipe::before {
    padding-top: calc(104% - 4px);
  }
}

@media (max-width: 576px) {
  .gallery {
    padding-top: 50px;
    padding-bottom: 20px;
  }

  .gallery__title {
    margin-bottom: 12px;
  }

  .gallery__text {
    margin-bottom: 5px;
    padding-left: 2px;
  }

  .gallery__select {
    margin-bottom: 30px;
  }

  .gallery__swiper {
    display: flex;
    flex-direction: column-reverse;
    padding-top: 15px;
  }

  .gallery__swipe {
    max-height: 400px;
    margin-bottom: 20px;
  }

  .gallery__swipe::before {
    padding-top: calc(126% - 5px);
  }

  .gallery__swiper-nav {
    align-self: center;
  }
}

@media (any-hover: hover) {
  .gallery__checkbox:hover ~ .gallery__visual-check {
    border-color: var(--pink);
  }

  .gallery__btn:hover {
    background-color: var(--purple-light);
  }

  .gallery__swipe:hover::before {
    border: 3px solid transparent;
  }

  .gallery__swipe:hover::after {
    opacity: 1;
  }
}
